{{ define "main" }}

{{ $content := .Resources.ByType "page" }}

    <!-- ABOUT SECTION -->
    <section id="about" class="section py-120">
        <h2 class="text-4xl text-center mb-40">{{ (index $content 0).Title }}</h2>
        <div class="prose mx-auto">
            {{ (index $content 0).Content }}
        </div>
    </section>

    <!-- FEATURES SECTION -->
    <section id="features" class="section py-120">
        <h2 class="text-5xl text-center mb-40">{{ (index $content 1).Title }}</h2>
        <div class="prose mx-auto">
            {{ (index $content 1).Content }}
        </div>
    </section>

    <!-- IMAGES SECTION -->
    <section id="images" class="section py-120">
        <div class="container is-small mx-auto">
            <h2 class="text-5xl text-center mb-40">Images</h2>
            <div class="images__grid gap-30">
                <a href="https://drive.google.com/drive/u/4/folders/1AWJEwk5DkMnRY9W2mzk_cpYVKsYKemE5" target="_blank">
                    <img src="/img/preview-cave.jpg" alt="An image of a man standing in a cave.">
                </a>
                <a href="https://drive.google.com/drive/u/4/folders/1AWJEwk5DkMnRY9W2mzk_cpYVKsYKemE5" target="_blank">
                    <img src="/img/preview-scope.jpg" alt="An image of a dinosaur viewed through a scope.">
                </a>
                <a href="https://drive.google.com/drive/u/4/folders/1AWJEwk5DkMnRY9W2mzk_cpYVKsYKemE5" target="_blank">
                    <img src="/img/preview-island.jpg" alt="An image of Ko'Verest Island">
                </a>
                <a href="https://drive.google.com/drive/u/4/folders/1AWJEwk5DkMnRY9W2mzk_cpYVKsYKemE5" target="_blank">
                    <img src="/img/preview-weapons.jpg" alt="An image of guns on a table.">
                </a>
            </div>
        </div>
    </section>

    <!-- VIDEOS SECTION -->
    <!-- <section id="videos" class="section py-120">
        <div class="container is-small mx-auto">
            <h2 class="text-5xl text-center mb-40">Videos</h2>
            <div class="images__grid">
                <img src="/" alt="Image">
            </div>
        </div>
    </section> -->

    <!-- LOGO SECTION -->
    <section id="logo" class="section py-120">
        <div class="container is-small mx-auto">
            <h2 class="text-5xl text-center mb-20">Logo</h2>
            <a href="https://drive.google.com/drive/u/4/folders/1AWJEwk5DkMnRY9W2mzk_cpYVKsYKemE5" target="_blank">
                <img src="/img/logo.webp"></img>
            </a>
        </div>
    </section>

    <!-- CONTACT SECTION -->
    <section id="contact" class="section py-120">
        <div class="container is-small text-center mx-auto">
            <h2 class="text-5xl text-center mb-40">Contact</h2>
            <p class="mb-20">I will respond to any emails very quickly, within an hour if I am awake, within multiple hours if I am sleeping. For specifics on the game or any other inquiry please reach out to me via email and I will be in touch.</p>
            <div>
                <span>Email: </span><a href="mailto:tim@creaturesofwar.com">creaturesofwar@gmail.com</a>
            </div>
        </div>
    </section>

    <!-- DEVELOPERS SECTION -->
    <section id="developers" class="section py-120">
        <div class="container is-small text-center mx-auto">
            <h2 class="text-5xl text-center mb-40">The Developers</h2>
            <div class="mb-40">
                <h3 class="text-2xl text-center mb-20">Tim Brunetto</h3>
                <p>Founder of Chaos Entertainment. His love for video games began with the Megaman series and heavily evolved over the years. Loves old school games, super ghouls and ghosts is one of his favorites.</p>
            </div>
            <div class="mb-40">
                <h3 class="text-2xl text-center mb-20">Jay Suong</h3>
                <p>Likes coding tools by day, and enjoys getting into shenanigans with friends in games by night.</p>
            </div>
            <div class="mb-40">
                <h3 class="text-2xl text-center mb-20">Andrew De Lange</h3>
                <p>Andrew is a classically trained musician who’s spent the last 15 years composing and producing music. His compositions are always inspired by some kind of imaginative space, which is why he’s passionate about writing for video games. His style is smooth and cerebral, but combines many types of instruments, rhythms and themes.</p>
            </div>
            <div class="mb-40">
                <h3 class="text-2xl text-center mb-20">Ashleii Kono</h3>
                <p>Ashleii Kono is a digital artist with a demonstrated history of working in the computer games industry. In her free time, she enjoys sketching, gaming, and visiting the local rock climbing gyms.</p>
            </div>
            <div class="mb-40">
                <h3 class="text-2xl text-center mb-20">Gregory Mcmanus</h3>
                <p>Having started gaming with World of Warcraft and most recently playing Resident Evil 8, Greg has a wide range of tastes in stories. He likes to tell his own stories where he can and prefers to do so via the realm of audio. He started with music but found his true calling through sound design and implementation within video games.</p>
            </div>
        </div>
    </section>

    <!-- SOCIAL SECTION -->
    <section id="social" class="section py-120">
        <div class="container is-small">
            <div class="mb-40">
                <h2 class="text-5xl text-center mb-40">Social Media</h2>
                <p class="text-center">Creatures of War is active across these social media platforms.</p>
            </div>
            <div class="social__grid">
                <a href="https://www.youtube.com/channel/UCHkTbsExwVcYOOjE4D9o2yQ" target="_blank">
                    <img src="/img/youtube-logo.svg" alt="YouTube logo" class="logo--small">
                </a>
                <a href="https://twitter.com/creatures_ofwar" target="_blank">
                    <img src="/img/twitter-logo.svg" alt="Twitter logo" class="logo--small">
                </a>
                <a href="https://www.reddit.com/r/CreaturesOfWar/" target="_blank">
                    <img src="/img/reddit-logo.svg" alt="Reddit logo" class="logo--small">
                </a>
                <a href="https://discord.gg/u6E9Ec2" target="_blank">
                    <img src="/img/discord-logo-purple.svg" alt="Discord logo" class="logo--small">
                </a>
                <a href="https://www.instagram.com/creaturesofwar/" target="_blank">
                    <img src="/img/instagram-logo.svg" alt="Instagram logo" class="logo--small">
                </a>
                <a href="https://vm.tiktok.com/ZMR6URRXq/" target="_blank">
                    <img src="/img/tiktok-logo.svg" alt="TikTok logo" class="logo--small">
                </a>
            </div>
        </div>
    </section>


{{ end }}